.tippy-box[data-theme~='custom'] {
    background-color: #25dbeb; /* Blue background */
    color: rgb(0, 0, 0);              /* White text */
    border-radius: 8px;
    padding: 3px 3px;
    font-size: 0.875rem;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
  }
  
  /* Optional: Arrow color */
  .tippy-box[data-theme~='custom'] > .tippy-arrow::before {
    color: #25dbeb;
  }



/* In your CSS or a global style file  for swal*/
.my-toast-size {
  width: 300px !important;
  font-size: 14px;
  padding: 10px;
}

.my-toast-size {
  width: 300px !important;
  font-size: 14px;
  padding: 10px;
}


.my-delete-alert{
  font-size: 0.80rem;
  padding: 10px;
  box-shadow: 12px 12px 30px ;
}





  /* scrollbar css */
/* NavMenu.css */
.custom-scrollbar {
  overflow-y: auto;
  scrollbar-width: none; /* Firefox: Hide scrollbar completely */
  -ms-overflow-style: none; /* IE and Edge: Hide scrollbar completely */
}

.custom-scrollbar::-webkit-scrollbar {
  display: none; /* WebKit: Hide scrollbar completely */
}

/* Remove hover effects that show the scrollbar */
.custom-scrollbar:hover {
  scrollbar-width: none; /* Firefox: Keep scrollbar hidden on hover */
}

.custom-scrollbar:hover::-webkit-scrollbar {
  display: none; /* WebKit: Keep scrollbar hidden on hover */
}

/* Light mode variables */
.custom-scrollbar.light {
  --scrollbar-track: #f1f5f9;
}

/* Dark mode variables */
.custom-scrollbar.dark {
  --scrollbar-track: #2d3748;
}


